<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Chart setting</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="">
        <ul class="to_do">
          <li>
            <p>
              <span class="setting-menu">Gas price</span>
              <label class="">
                  <span class="iradio_flat-green" style="position: relative; checked"><input type="radio" checked class="flat" name="gasPrice" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></span> Low &nbsp;&nbsp;&nbsp;
              </label>
              <label class="">
                <span class="iradio_flat-green" style="position: relative;"><input type="radio" class="flat" name="gasPrice" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></span> Avg &nbsp;&nbsp;&nbsp;
              </label>
              <label class="">
                <span class="iradio_flat-green" style="position: relative;"><input type="radio" class="flat" name="gasPrice" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></span> High &nbsp;&nbsp;&nbsp;
              </label>
            </p>
          </li>
          <li>
            <span class="setting-menu">Date</span>
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; display: inline-block;">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>October 25, 2018 - October 25, 2018</span> <b class="caret"></b>
            </div>
          </li>
          <li>
            <p>
              <span class="setting-menu">Decline Color</span>
              <select id="chart_theme" data-option="chartTheme">
                <option value="light" selected>Light</option>
                <option value="dark">Dark</option>
              </select>
            </p>
          </li>
          <li>
            <p>
              <span class="setting-menu">AM Color</span>
              <input id="am_color" data-option="declineColor" type="color" value="#e74c3c">
            </p>
          </li>
          <li>
            <p>
              <span class="setting-menu">PM Color</span>
              <input id="pm_color" data-option="rallyColor" type="color" value="#2ecc71">
            </p>
          </li>
          <li>
            <p>
              <span class="setting-menu">AM border-size</span>
              <input id="am_border_size" data-option="declineThickness" type="number" value="2">
            </p>
          </li>
          <li>
            <p>
              <span class="setting-menu">PM border-size</span>
              <input id="pm_border_size" data-option="rallyThickness" type="number" value="2">
            </p>
          </li>
          <li>
            <p>
              <span class="setting-menu">Animation speed</span>
              <input id="animation_speed" data-option="animationDurationPerTrend" type="number" value="500">
            </p>
          </li>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .setting-menu {
    width: 150px;
    display: inline-block;
  }
</style>